<!DOCTYPE html>
<html>
<head>
  <!-- Don't forget to include jQuery ;) -->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
        <link rel="stylesheet" href="/stylesheets/jquery.ratings.css">

<script src="/javascripts/jquery-1.11.2.js"></script>
        <script src="/javascripts/jquery.mobile-1.4.5.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/jquery.ratings.js"></script>
        <script src="/javascripts/example.js"></script>



</head>
<body>

<div data-role="page">
  <div data-role="content">
    <ul data-role="listview" data-inset="true">
      <li><a href="#dialog">Hellow PINCOM Friends :)</a></li>
    </ul>
  </div>
</div>

<!-- Dialog only page -->
<div data-role="dialog" id="dialog">
  <div data-role="header">
    <h1>PINCOM</h1>
  </div>
  <div data-role="content">
    <p>Node.js기반 HTTP 클라이언트 & HTTP 서버 구현</p>
  </div>
</div>

</body>
</html>
