<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YAHA Project Table Information Page</title>
	<link rel="stylesheet" href="/stylesheets/yahaProject.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
	<link rel="stylesheet" href="/stylesheets/jquery.ratings.css">
	<link rel="stylesheet" href="/stylesheets/jquery.remodal.css">

	<script src="/javascripts/jquery-1.11.2.js"></script>
	<script src="/javascripts/jquery.mobile-1.4.5.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.ratings.js"></script>
        <script src="/javascripts/example.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
        <!-- <script src="/javascripts/jquery.mobile-1.4.5.js"></script> -->
        <script src="/javascripts/jquery.remodal.js"></script>
</head>

<body>
	<div data-role="page" id="main" data-theme="a">
	<!-- Header -->
	<div data-role="header" data-theme="a" >
		<a href="#mypanel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-a ui-btn-inline"></a>
		<div align="center"><img src="/images/header.jpg" width="100%" height="40%">
		</div>
	</div>
	<!--End Header  -->

	<!-- Panel Attribute -->
    <div data-role="panel" data-position="left" data-display="overlay" data-theme="a" id="mypanel">
        <a onclick="location.href='http://117.16.231.212:8010/mMain'" class="ui-link"><img src="/images/mMainLogo.jpg" width="100%"></a>
        <h2 class="panel-title" align="center">메뉴 & 영업안내<h2>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mMenuFinder'">메뉴</a>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-shop ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mBusiness'">영업안내</a>
        <h2 class="panel-title" align="center">테이블조회 & 찾아오시는길<h2>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mCheckTable'">매장현황</a>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-location ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mGuideWayStart'">길안내</a>
        <h2 class="panel-title" align="center">YAHA Project<h2>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-heart ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mProject'">About Project</a>

	<div align="center">
        <a onclick="location.href='http://117.16.231.212:8010/mMain'" class="ui-link"><img src="/images/incheonUni.jpg" width="70%" style="padding-top: 8px;"></a>
        </div>
    </div>
	<!-- End Panel Attribute -->
	<!-- 메뉴 선택 이미지 버튼 -->
	<div data-role="content">
		<div class="section-main"><p>
			<div class="section-title" align="center">
				<img src="/images/tableNumberLogo00.png" width="100%" height="20%">
				<h2 class="mMain-title" align="center">매장 전체 테이블 수<h2>
				<div class="section-contents" align="center">
					<%= tableState.length %>    	
				</div>
				<h2 class="mMain-title" align="center">사용 가능 테이블 수<h2>
	            <div class="section-contents" align="center">
	               	<%= emptyTable %>
	            </div>
               	<div data-role="collapsibleset">
		    		<div data-role="collapsible">
		        		<h3>매장 테이블 상세정보</h3>
	                    <p>
						<br><img src="/images/smartOrdering.jpg" width="100%" height="10%"><br><br>
	                    <% for(var i=0; i<tableState.length; i++){ %>
	                    <div class="section-contents" align="center">
			    <style>
				.mMain-title2 {
				 border-radius: 5px 5px 5px 5px;
 				 height: 30px;
				 padding: 0px 0 0 10px;
				 line-height: 25px;
				 font-size: 15px;
				 color: #000000;
				 font-weight: bold;
				 background: #BADDE2;
				}
			   </style>
	                      	<h2 class="mMain-title2" align="center"><%= tableState[i].tableNum %>번 테이블</h2>
	                       	<p class="mBusinessText">예상 대기시간 : <%= tableState[i].waitTime %>
	                    </div><br>
	                    <% } %>
	                    </p>
	               	</div>
	            </div>
			</div>
     	</div>	
     </div>
	<!-- End 메뉴 선택 이미지 버튼 --> 
 
	<!-- Footer -->
	<div data-role="footer" data-theme="a">
		<h4>&copy; 2015 YAHA Team Project</h4>
	</div>
	<!-- End Footer -->
	
	</body>
</html>



