<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/yahaProject.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="/javascripts/jquery-1.11.2.js"></script>
	<!-- Google Map Event -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJgrkT1ePRP78wOOFm18XArOM_HaElurI&sensor=false">
	</script>
    <script type="text/javascript">
    $(document).on('pageshow', function () {
    	var myPosition = new google.maps.LatLng(37.489930, 126.723225);
        var mapOptions = {
	        	center: myPosition,
	            zoom: 16,
	            mapTypeId: google.maps.MapTypeId.ROADMAP
				};
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({
	            position : myPosition,
	            map : map
				});
			});
    </script>
	<script src="/javascripts/jquery.mobile-1.4.5.js"></script>
</head>

<body>
	<div data-role="page" id="location" data-theme="a">
	<!-- Header -->
	<div data-role="header" data-theme="a" >
		<a href="#mypanel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-a ui-btn-inline"></a>
		<div align="center"><img src="/images/header.jpg" width="100%" height="40%">
		</div>
	</div>
	<!--End Header  -->

	<!-- Panel Attribute -->
    <div data-role="panel" data-position="left" data-display="overlay" data-theme="a" id="mypanel">
		<a onclick="location.href='http://117.16.231.212:8010/mMain'" class="ui-link"><img src="/images/mMainLogo.jpg" width="100%"></a>
	    <h2 class="panel-title" align="center">메뉴 & 영업안내<h2>
	    <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left" href="http://117.16.231.212:8010/mMenuFinder">메뉴</a>
	    <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-shop ui-btn-icon-left" href="http://117.16.231.212:8010/mBusiness">영업안내</a>
	    <h2 class="panel-title" align="center">테이블조회 & 찾아오시는길<h2>
	    <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-left" href="http://117.16.231.212:8010/mCheckTable">매장현황</a>
	    <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-location ui-btn-icon-left" href="http://117.16.231.212:8010/mGuideWayStart">길안내</a>
	    <h2 class="panel-title" align="center">YAHA Project<h2>
	    <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-heart ui-btn-icon-left" href="http://117.16.231.212:8010/mProject">About Project</a>
	    <div class="section-contents" align="center">
		  	<a onclick="location.href='http://117.16.231.212:8010/mMain'" class="ui-link"><img src="/images/incheonUni.jpg" width="100%"></a>
	    </div>
	</div>
    <!-- End Panel Attribute -->

	<div data-role="content">
		<div class="section-main"><p>
			<div class="section-title" align="center">
				<img src="/images/tableNumberLogo00.png" width="100%" height="20%">
				<div class="mMain-title" align="center">지도 매장 검색</div>
					<a onclick="location.href='http://117.16.231.212:8010/mGuideWayLocation'" class="ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext ui-btn-a ui-btn-inline"></a>
				<!-- Google Map  -->
				<div class="section-contents" align="center">
					<div id="map"></div>	
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div data-role="footer" data-theme="a">
    	<h4>&copy; 2015 YAHA Team Project</h4>
	</div>
	<!-- End Footer -->
	</div>
	
</body>
</html>


