<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YAHA Project Main Page</title>
	<link rel="stylesheet" href="/stylesheets/yahaProject.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">

	<link rel="stylesheet" href="/stylesheets/jquery.ratings.css">
	<link rel="stylesheet" href="/stylesheets/jquery.remodal.css">

	<style>
	.section-contents {
  background: white;
  border: 1px solid #111;
  padding: 8px 15px;
  font-size: 16px;
  color: black;
  letter-spacing: 0;
  border-radius: 5px 5px 5px 5px;
  font-weight: normal;
  margin-bottom: 0;
  overflow: hidden;
}
	.ui-btn {
  padding: .3em 1em;
}
	</style>
	<script src="/javascripts/jquery-1.11.2.js"></script>
	<script src="/javascripts/jquery.mobile-1.4.5.js"></script>
	<script src="/javascripts/bootstrap-carousel.js"></script> 
	<script src="/javascripts/bootstrap.min.js"></script>

	<script src="/javascripts/jquery.ratings.js"></script>
        <script src="/javascripts/example.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
        <!-- <script src="/javascripts/jquery.mobile-1.4.5.js"></script> -->
        <script src="/javascripts/jquery.remodal.js"></script>

</head>

<body>
<div data-role="page" id="main" data-theme="a">
	<!-- Header -->
<a href="#mypanel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-a ui-btn-inline"></a> 
<a id="btn-like" class="ui-btn ui-shadow ui-corner-all ui-icon-heart ui-btn-icon-notext ui-btn-a ui-btn-inline"></a>
<a id="section" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-text ui-btn-a ui-btn-inline ui-btn-right" style="margin-top: 0.2%">Like</a>

	<div data-role="header" data-theme="a" >

		<script>
		$("#btn-like").click( function () {
		var url_value = 'like';
		$.ajax({
	            type : "POST",
        	    url: url_value,
	            async: false,
       		    data:{},
		    success: response_json
           		});
		});

		function response_json() {
		    var url_value = 'getLikeCnt';
		    $.ajax({
           		 type : "GET",
            		 url: url_value,
           		 async: false,
		         dataType:'json',
        		 success: response_json2
           		 });
		}

		function response_json2(json) {
		    var information = json.data;
		    var like_count = information.likeCnt;
		    $("#section").html('').append(like_count);
                }

		</script>

		<div align="center">
			<img src="/images/header.jpg" width="100%" height="100%" >
		</div>
	</div>
	<!--End Header  -->

	<!-- Panel Attribute -->
	    <div data-role="panel" data-position="left" data-display="overlay" data-theme="a" id="mypanel">
        <a onclick="location.href='http://117.16.231.212:8010/mMain'" class="ui-link"><img src="/images/mMainLogo.jpg" width="100%"></a>
        <h2 class="panel-title" align="center">메뉴 & 영업안내<h2>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mMenuFinder'">메뉴</a>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-shop ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mBusiness'">영업안내</a>
        <h2 class="panel-title" align="center">테이블조회 & 찾아오시는길<h2>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mCheckTable'">매장현황</a>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-location ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mGuideWayStart'">길안내</a>
        <h2 class="panel-title" align="center">YAHA Project<h2>
        <a class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-heart ui-btn-icon-left" onclick="location.href='http://117.16.231.212:8010/mProject'">About Project</a>

        <div align="center">
        <a onclick="location.href='http://117.16.231.212:8010/mMain'" class="ui-link"><img src="/images/incheonUni.jpg" width="70%" style="padding-top: 8px;"></a>
        </div>
    </div>
	<!-- End Panel Attribute -->

	<!-- Contetns -->
	<style>
	.carousel-indicators .active {
	background-color: #000;
	}
	.carousel-indicators li {
  	border: 1px solid #000;
	}
	</style>
    <div data-role="content">
		<div class="section-main"><p>
			<div class="section-title" align="center">
			<h2 class="mMain-title" align="center"> HOT MENU <h2>
				<div class="section-contents" align="center">
					<!-- Carousel Slide -->
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  					<!-- Indicators -->
  					<ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  					</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="/images/menu/seafood/grid_20130522183050.png" width="100%" height="100%" />
								<div class="carousel-caption">
									<p class="mBusinessText">Western Grilled Seafood Platter<br>웨스턴 그릴드 씨푸드 플래터</p>
								</div>
					    	</div>
					    	<div class="item">
					        	<img src="/images/menu/favorites/grid_20140701174106.png" width="100%" height="100%" />
								<div class="carousel-caption">
						  			<p class="mBusinessText">Kakadu Griller<br>카카두</p>
					  			</div>
					    	</div>
					    	<div class="item">
					        	<img src="/images/menu/pasta/grid_20130523141209.png" width="100%" height="100%" />
								<div class="carousel-caption">
						  			<p class="mBusinessText">Toowoomba Pasta<br>투움바 파스타</p>
					  			</div>
					    	</div>
						</div><br>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span aria-hidden="true"><img src="/images/icons/carat-l-white.png" /></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					   	<span aria-hidden="true"><img src="/images/icons/carat-r-white.png" /></span>
						</a>

					</div>
				</div>
				<h2 class="mMain-title" align="center"> EVENTS <h2>
   					<div class="section-contents" align="center">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img src="/images/img_card00.png" height="100%" />
									<div class="carousel-caption">
										<p class="mBusinessText">하나 아웃백 클럽 카드(신용)<br>20%~ 최대 30% 할인</p>
									</div>
								</div>
								<div class="item">
									<img src="/images/img_card01.png" height="100%" />
										<div class="carousel-caption">
											<p class="mBusinessText">신한 2030카드<br>20% 현장 할인</p>
										</div>
								</div>
								<div class="item">
									<img src="/images/img_card02.png" height="100%" />
									<div class="carousel-caption">
										<p class="mBusinessText">하나 Juliet 카드<br>20% 현장 할인</p>
									</div>
								</div>
								<div class="item">
									<img src="/images/img_card03.png" height="100%" />
										<div class="carousel-caption">
											<p class="mBusinessText">하나 EXPAT 플래티늄<br>20% 현장 할인</p>
										</div>
								</div>
								<div class="item">
									<img src="/images/img_card04.png" height="100%" />
									<div class="carousel-caption">
										<p class="mBusinessText">우리 은행 카드(우리e카드)<br>20% 현장 할인</p>
									</div>
								</div>
							</div><br>
						</div>
					</div>
			</div>
		</div>
	</div>
 	<!-- End Contetns -->

	<!-- Footer -->
	<div data-role="footer" data-theme="a">
		<h4>&copy; 2015 YAHA Team Project</h4>
	</div>
	<!-- End Footer -->

	</body>
</html>





